.card {
  width: 720px;
  padding: 20px;
  background-color: white;
  box-sizing: border-box;
  border-radius: 10px;
}

.divider {
  display: flex;
  height: 1px;
  background: #ccc;
  margin-top: 5px;
  margin-bottom: 5px;
}

.title {
  font-size: 32px;
  font-weight: bolder;
}